= simple_form_for @page, url: admin_update_page_path(@page.url), html: { class: 'form-horizontal' }, method: 'put', remote: true do |f|
  .form-inputs
    %fieldset
      %legend= @page.page_breadcrumbs
      = f.input :layout, collection: layouts
    %fieldset
      %legend SEO
      = f.input :seo_title
      = f.input :seo_description
      = f.input :seo_keywords
    = f.hidden_field :content
    %fieldset
      %legend CONTENT
      #editor{content: "#{@page.content}"}

  .form-actions{style: 'margin-top: 760px;'}
    = f.button :submit, 'Update', class: 'btn-primary'

